html,
body {

    /* The html and body elements cannot have any padding or margin. */
    background: none repeat scroll 0% 0% #F1F1F1;
    position: relative;

}
body{
    overflow-x:hidden;

}
p{
    margin: 5px;
}

#conteudo{
    min-height: 100%;

}
* html #conteudo {
    height: 100%; /* hack para IE6 que trata height como min-height */
    height: 600px;
}


#bannerTop{
 width: 104%;
left: -2%;
margin: 0;
    padding: 0;
    margin-top:-2%;
}


/* Set the fixed height of the footer here */
#push,
#footer {
margin-bottom: 0 ;
    height: 100px;
    width: 100%;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

